<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
            <th>
                GENDER
            </th>
            <th>
                BIRTHPLACE
            </th>
        </tr>
    </thead>
    <tbody id="people-result">
    </tbody>
</table>
<div class="pagination-btn">
    <a href="#" id="pre-page-btn" onclick="CensusSearchAPI.loadPage(false)"><h3>< Previous</h3></a>
    <a href="#" id="nxt-page-btn" onclick="CensusSearchAPI.loadPage(true)"><h3>Next ></h3></a>
</div>
