<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                NAME
            </th>
            <th>
                GENDER
            </th>
            <th>
                BIRTHPLACE
            </th>
        </tr>
    </thead>
    <tbody id="people-result">
    </tbody>
</table>
