@{
    ViewBag.Title = "Advanced";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="search-header">
    @Html.Partial("~/Views/Shared/_SearchHeaderPartial.cshtml")
</div>

<div id="result-list">
    @Html.Partial("~/Views/Shared/_ResultsGridPartial.cshtml")
</div>
