.main {
    margin-top: 5%;
}

.global-title {
    margin-bottom: 40px;
}

#pre-page-btn {
    float: left;
    display:none;
    text-decoration:none;
}

#nxt-page-btn {
    float: right;
    display:none;
    text-decoration:none;
}